body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


.required:before { 
    content:"* "; 
    color:red; 
    font: bold;
}


.validation-error {
    color: Maroon;
    font-weight: bold;   
    background-color: #ffeeee;
    border-bottom-color:red;   
    border-top-color:red;   
    border-left-color:red;   
    border-right-color:red;   
}

.modal-body table {
    width: 100%; /* Ширина таблицы */
    border: 4px black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
}

.modal-body th {
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
}

.modal-body td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
}
